* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* position: fixed; */
  height: 4rem;
  width: 100%;
  background:linear-gradient(
    90deg
    , #67666a 0%, #000000 100%);
}

.nav-item {
  display: flex;
  width: 12rem;
  justify-content: space-evenly;
}

.nav-item i {
  color: #fff;
}